  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- Start welcome area -->
          <div class="welcome-area">
            <div class="title-area">
              <h2 class="tittle"><span>Habilidades</span></h2>
              <span class="tittle-line"></span>
            </div>
            <div class="welcome-content">
              <ul class="wc-table">
                <li>
                  <div class="single-wc-content wow fadeInUp">
                    <span class="fa fa-hand-spock-o wc-icon"></span>
                    <h4 class="wc-tittle">Conceptos Creativos</h4>
                    <p>Unión de lógica y creatividad para nuevas ideas en el código</p>
                  </div>
                </li>
                <li>
                  <div class="single-wc-content wow fadeInUp">
                    <span class="fa fa-object-group wc-icon"></span>
                    <h4 class="wc-tittle">UI/Interfaces de diseño</h4>
                    <p>Maquetación y codificación para interfaces</p>
                  </div>
                </li>
                <li>
                  <div class="single-wc-content wow fadeInUp">
                    <span class="fa fa-mobile wc-icon"></span>
                    <h4 class="wc-tittle">Aplicaciones Móviles</h4>
                    <p>Desarrollo de Aplicaciones multiplataforma(iOs,Android)</p>
                  </div>
                </li>
                <li>
                  <div class="single-wc-content wow fadeInUp">
                    <span class="fa fa-code wc-icon"></span>
                    <h4 class="wc-tittle">Desarrollo Web</h4>
                    <p>Desarrollo y diseño de páginas web, aplicaciones webs, blogs</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- End welcome area -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="about-area">
            <div class="row">
              <div class="col-md-5 col-sm-6 col-xs-12">
                <div class="team-address">
                  <p>Omar Garcia</p>
                  <span>Desarrollador Web & Móvil</span>
                  <img src="assets/images/Omarpc1.png" alt="omarAnimaciónSmile" class="smile-omar-comic">
                </div>
              </div>
              <div class="col-md-7 col-sm-6 col-xs-12">
                <div class="about-right wow fadeInRight">
                  <div class="title-area">
                    <h2 class="tittle">Acerca de <span>mi</span></h2>
                    <span class="tittle-line"></span>
                    <p>Soy desarrollador web, semi-senior con 3 años de experiencia en desarrollo de aplicaciones front-end con AngularJs & reactJS, hago maquetaciones web, así como también tengo experiencia en PHP con el framework Laravel y Symfony, he desarrollado mini backs con Python y Ruby de igual manera. Actualmente me encuentro trabajando como desarrollador front-end en <a href="http:/bucare.io">Bucare-Tech</a> y como coordinador Front-end en <a href="http://www.apetoi.com">Apetoi</a>.</p> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>