<section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="contact-left wow fadeInLeft">
            <h2>Contactáme!</h2>
            <address class="single-address">
              <h4>Dirección:</h4>
              <p>Caracas, Venezuela</p>
            </address>
             <address class="single-address">
              <h4>Celular:</h4>
              <p>(+58) 426 0471748</p>
            </address>
             <address class="single-address">
              <h4>E-Mail:</h4>
              <p>omarmobgarcia@gmail.com</p>
            </address>
          </div>
        </div>
        <!-- ng-form-->
        <div class="col-md-8 col-sm-6 col-xs-12">
          <div class="contact-right wow fadeInRight">
            <h2>Mándame un correo</h2>
            <form action="" class="contact-form">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Ingresa tu Nombre aquí">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Ingresa tu Correo">
              </div>
              <div class="form-group">
                <textarea class="form-control" placeholder="Indicación"></textarea>
              </div>
              <button type="submit" data-text="ENVIAR" class="button button-default"><span>Enviar</span></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>