<section id="service">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="service-area">
          <div class="title-area">
            <h2 class="tittle">Mis Servicios</h2>
            <span class="tittle-line"></span>
          </div>
          <!-- service content -->
          <div class="service-content">
            <ul class="service-table">
              <li class="col-md-3 col-sm-6">
                <div class="single-service wow slideInUp">
                  <span class="fa fa-file-code-o service-icon"></span>
                  <h4 class="service-title">Desarrollo Web</h4>
                  <p>Desarrollo de páginas, scripts, interfaces web.</p>
                </div>
              </li>
              <li class="col-md-3 col-sm-6">
                <div class="single-service wow slideInUp">
                  <span class="fa fa-edit service-icon"></span>
                  <h4 class="service-title">Diseño Web</h4>
                  <p>Maquetación de páginas web, correcciones de estilos, maquetación responsive.</p>
                </div>
              </li>
              <li class="col-md-3 col-sm-6">
               <div class="single-service wow slideInUp">
                  <span class="fa fa-wordpress service-icon"></span>
                  <h4 class="service-title">Blogs</h4>
                  <p>Creación de temas en Wordpress, páginas, blogs y hasta tiendas!</p>
                </div>
              </li>
              <li class="col-md-3 col-sm-6">
                <div class="single-service wow slideInUp">
                  <span class="fa fa-android service-icon"></span>
                  <h4 class="service-title">Desarrollo Móvil</h4>
                  <p>Desarrollo móvil nativo de Android , así como tambien desarrollo de applicaciones multiplataforma.</p>
                </div>
              </li>
              <li class="col-md-3 col-sm-6">
                <div class="single-service wow slideInUp">
                  <span class="fa fa-google service-icon"></span>
                  <h4 class="service-title">SEO</h4>
                  <p>Posicionamiento en los principales motores de busqueda.</p>
                </div>
              </li>
              <li class="col-md-3 col-sm-6">
                <div class="single-service wow slideInUp">
                  <span class="fa fa-html5 service-icon"></span>
                  <h4 class="service-title">Front-end App's</h4>
                  <p>Desarrollo de Aplicaciones, centrado en usuario <-> página  con AngularJs, Django, ReactJs, Bootstrap, Ruby on Rails ... etc.</p>
                </div>
              </li>
              <li class="col-md-3 col-sm-6">
                <div class="single-service wow slideInUp">
                  <span class="fa fa-stack-overflow service-icon"></span>
                  <h4 class="service-title">Soluciones Web</h4>
                  <p>Solución en el área de desarrollo por conflictos de Scripts o edición de los mismos para mejores y nuevas funcionalidades.</p>
                </div>
              </li>
              <li class="col-md-3 col-sm-6">
                <div class="single-service wow slideInUp">
                  <span class="fa fa-terminal service-icon"></span>
                  <h4 class="service-title">Back-end App's</h4>
                  <p>Desarrollo de applicaciones web del lado del servidor con Laravel-PHP , Ruby on Rails y Java.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>